/* body{
    background-color: rgb(157, 233, 208);
}
#app {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 200px;
    height: 20px;
}

button {
    height: 26px;
}

#movieDetails {
    margin-top: 20px;
} */
